@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
  font-family: 'Exo', cursive;
  background-image: url('/admin/img/bg02.png');
  text-align: center;
}

.login-box {
  margin: 150px auto 0 auto;
  /*border: 1px solid #aaa;*/
  border-radius: 10px;
  /*box-shadow: 3px 3px 3px #aaa;*/
  padding: 20px;
  padding-top: 40px
}

h1 { 
  font-family: 'Exo', cursive;
  font-size: 30pt; color: #555; 
}

.message{
  position: absolute;
  top: calc(30% - 150px);
  left: calc(50% - 255px);
  z-index: 2;
  width: 465px;
}

.logo {
  margin-top: 80px;
  margin-bottom: 80px;
}
.logo-inner {
  height: 100px;
  width: 450px;
  margin: 0 auto 0 auto;
  border: 1px solid #ccc;
  vertical-align: middle;
  padding: 30px
}
.logo-inner p {
  color: #aaa;
  font-size: 15pt;
}
.login{
  margin: 0 auto 0 auto;
  height: 150px;
  width: 350px;
  padding: 10px;
  z-index: 2;
}

.login input[type=text]{
  text-align: center;
  width: 250px;
  height: 30px;
  border: 1px solid #aaa;
  border-radius: 10px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
}

.login input[type=password]{
  text-align: center;  
  width: 250px;
  height: 30px;
  border: 1px solid #aaa;
  border-radius: 10px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin-top: 10px;
}

.login input[type=submit]{
  width: 250px;
  height: 35px;
  background: #ccc;
  border: 1px solid #aaa;
  cursor: pointer;
  border-radius: 10px;
  color: #a18d6c;
  font-size: 19px;
  font-weight: 400;
  padding: 4px;
  margin-top: 40px;
}

.login input[type=button]:hover{
  opacity: 0.8;
}

.login input[type=button]:active{
  opacity: 0.6;
}

.login input[type=text]:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
  outline: none;
}

::-webkit-input-placeholder{
   color: #aaa;
}

::-moz-input-placeholder{
   color: #aaa;
}